
**/.metadata/*
**/.recommenders/*
**/.settings/*
*.classpath
*.project

**/target/**
**/.settings/**
/.metadata/
/.recommenders/
**/.idea/**
*.iml


**/.gradle/**
**/build/**
**/gradle/wrapper
**/gradlew
**/gradlew.bat